@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
      width: 12px;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 1px;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  